* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    background: url('../images/food_background.jpeg ')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.layer {
    width: 100%;
    min-height: 100%;
    background-color: #4E596A90;
    position: absolute;
    top: 0;
    left: 0;
}

#userUpdateForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
}

.settingForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
}

.settingForm input {
    background: none;
    border: solid 3px white;
    margin:3px;
    color: white;
    text-align: center;
    font-size: 18px;
}

.settingForm input::placeholder {
    color: white;
}

.settingForm button {
    margin: 5px;
    align-self: center;
    width: 200px;
    height: 50px;
    background: #F7F7F7;
    color: black;
    border-radius: 10px;
    max-height: 40px;
    border: 1px black solid;
    box-sizing: border-box;
}

.settingForm button:hover {
    background: #F26966;
    border: none;
    color: white;
}

.settingButton {
    margin: 5px;
    align-self: center;
    width: 200px;
    height: 50px;
}

#profileInfo {
    width: 100%;
    height: 25em;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 0 5px black;
    background: #F7F7F7;
}

#avatar {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

#photoContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background: white;
    //align-items: center;
}

.profilePhotoGrid {
    box-sizing: border-box;
    padding: 5px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
}

.topNav {
    justify-content: space-evenly;
}

#logOut {
    margin-right: 150px;
}

#profileInfo button {
    background: #F26966;
    color: white;
    border: none;
    border-radius: 10px;
    min-height: 30px;
    width: 100px;
    box-sizing: border-box;
}

#photoContainer button {
    background: #F7F7F7;
    color: black;
    border-radius: 10px;
    min-height: 30px;
    width: 100px;
    border: 1px black solid;
    box-sizing: border-box;
}

#photoContainer button:hover {
    background: #F26966;
    border: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.profilePhotoGridPhoto {
    max-width: 100%;
    max-height: 1000px;
}

#editPost {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
    align-items: center;
}

#descBackGround {
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;
    width: 20%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    border: 1px groove grey;
    border-radius: 0 0px 10px 10px;
    align-items: center;
}

#formContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#cancelButton {
    background: #F26966;
    border: none;
    border-radius: 20px;
    margin: 2vh;
    color: white;
}

#userUpdateForm input {
    background: none;
    border: solid 3px white;
    margin:3px;
    color: white;
    text-align: center;
    font-size: 18px;
}

#userUpdateForm button {
    background: #F7F7F7;
    color: black;
    border-radius: 10px;
    height: 40px;
    margin-top: 4px;
    border: 1px black solid;
    box-sizing: border-box;
}

#editPost input {
    background: none;
    border: solid 3px white;
    margin:3px;
    color: white;
    text-align: center;
    font-size: 18px;
}

#editPost input::placeholder {
    color: white;
}

#editPost button {
    background: #F7F7F7;
    color: black;
    border-radius: 10px;
    height: 40px;
    margin-top: 4px;
    border: 1px black solid;
    box-sizing: border-box;
    width: 100px;
}

.settingButton {
    background: #F7F7F7;
    color: black;
    border-radius: 10px;
    max-height: 40px;
    border: 1px black solid;
    box-sizing: border-box;
}

.settingButton:hover {
    background: #F26966;
    border: none;
    color: white;
}


@media only screen and (max-width: 1000px) {
    #profileInfo {
        height: 15em;
    }

    #buttonContainer {
        flex-direction: row;
    }

    #avatar {
        height: 7em;
        width: 7em;
    }

    .profilePhotoGrid {
        width: 50%;
    }

    #myProfileHref {
        display: none;
    }

    #shareHref {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .profilePhotoGrid {
        width: 100%;
    }
}

#username {
    font-family: Futura;
    font-size: 20px;
}