* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

#userUpdateForm {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
}

.settingButton {
    margin: 5px;
    align-self: center;
    width: 200px;
    height: 50px;
}

#profileInfo {
    width: 100%;
    height: 25em;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 0 5px black;
    background: #F7F7F7;
}

#avatar {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}

#photoContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    //align-items: center;
}

.profilePhotoGrid {
    box-sizing: border-box;
    padding: 5px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease;
}

.profilePhotoGridPhoto {
    max-width: 100%;
    max-height: 1000px;
}

#editPost {
    display: flex;
    flex-wrap: wrap;
}

#descBackGround {
    box-sizing: border-box;
    padding: 5px;
    overflow: auto;
    width: 20%;
    max-width: 1000px;
    display: flex;
    justify-content: space-evenly;
    border: 1px groove grey;
    border-radius: 0 0px 10px 10px;
}

#formContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}


.profilePhotoGrid:hover {
    transform: scale(1.05);
}

@media only screen and (max-width: 700px) {
    #profileInfo {
        height: 15em;
    }

    #buttonContainer {
        flex-direction: row;
    }

    #avatar {
        height: 7em;
        width: 7em;
    }

    .profilePhotoGrid {
        width: 50%;
    }

    #myProfileHref {
        display: none;
    }

    #shareHref {
        display: none;
    }
}

@media only screen and (max-width: 550px) {
    .profilePhotoGrid {
        width: 100%;
    }
}

#username {
    font-family: Futura;
    font-size: 20px;
}