*{
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

body {
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    height:100vh;
    display: flex;
}

.container {
    background: #f7f7f7;
    width: 15em;
    height: auto;
    margin: auto;
    padding: 1em;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

.light-border {
    padding: 1em;
    box-sizing: border-box;
    border:groove 1px black;
}

.form-wrapper {
    display: flex;
    background: #434C5A;
    color: #ebebebef;
    flex-wrap : wrap;
    height: 100%;¢
    width: 100%;
    text-align: center;
    flex-direction: column;
    box-shadow:0px 0px 6px 3px rgba(0, 0, 0, 0.454);
}

.paragraph{
    padding-bottom: 10px;
}

h3{
    margin:30px;
    align-self: center;
}

#add-user-form{
    background: #f7f7f7;
}

input, button, select {
    display: inline-block;
    border:groove 1px black;
    width: 100%;
    margin: .5em 0;
}

button{
    background-color:#FF6965;
    color: #fff;
    box-shadow: 0 8px 6px -6px black;
}

.hide {
    display: none !important;
}

#PopUp{
    display: none;
    left: 100px; 
    top: 50px; 
    color: #f7f7f7;
    border: solid black 1px; 
    padding: 10px; 
    background-color: #434C5A;
    text-align: ;
    font-size: 12px; 
    width: 200px;
}
  