* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url('../images/food_background.jpeg ');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

//box-sizing: border-box;
    //display: flex;
    //justify-content: center;
    //align-items: center;
}

#logIn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid;
    width:6em;
    padding: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    align-items: center;
}
#logIn:hover{
    background: rgba(255,255,255,0.5);
}
#signUp{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 40%;
    text-decoration: none;
    color: white;
    background: #FF6965;
}
#signUp:hover{
    background: none;
}

.layer {
    background-color: #4E596A90;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    padding-left: 10%;
}

.landContainer {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.landContainerLeft {
    box-sizing: border-box;
    height: 80%;
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
}

.landContainerLeftBottom {

}

.landContainerLeftTop {
    display: flex;
    align-items: center;
    height: 70%;

}

.landContainerRight {
    box-sizing: border-box;
    height: 80%;
    width: 50%;
    display: flex;
}

.hexFood {
    height: 500px;
    padding-left: 20%;
}

.hexHome {
    height: 250px;
    margin-left: -125px;
    margin-top:300px;
}

.landName{
    color: white;
    font-size: 100px;
    margin-bottom: 100px;
}

.landBottomList {
    list-style-type: none;
    font-size: 40px;
    color: white;
}

.accent {
    color: #FF6965;
}

.feedContainer {
    height: 100%;
    width:65%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color:rgba(255,255,255, 0.5);
}

.feedContainer .post{
    border: groove 1px grey;
    border-radius: 3%;
    box-sizing: border-box;
    width:300px;
    height: 450px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background: #FFFFFF;
}

#topCard {
    box-sizing: border-box;
    width:100%;
    height: 70%;
    max-height: 70%;
    border-radius: 3%;
}

#bottomCard{
    overflow: scroll;
    box-sizing: border-box;
    width:100%;
    height: 30%;
    border-radius: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#postCaption {
    font-size: 16px;
}

#postCaptionTitle {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.feedContainer img{
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-height: 260px;
}

.feedContainer h2{
    width:100%;
    height:50px;
    display:flex;
    text-align: center;
    color: black;
}

.feedContainer #avatar{
    margin: 5px;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

#commentList #avatar{
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

#commentList {
    width: 100%;
    padding: 8px;
    overflow: scroll;
}

#commentForm {
    width: 100%;
    padding: 8px;
    overflow: scroll;
}

#commentRender {
    width: 100%;
    border: groove 1px black;
    margin-bottom: 3px;
    background: rgba(255,255,255, 0.5);
}

#commenterInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#postComment {
    padding: 8px;
}

#commentAvatar {
    margin:  8px;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.feedContainer a{
    font-size:12px;
    align-self: center;
    color: black;
}

#showMoreBtn{
    margin:0;
    width:150px;
    height:50px;
    font-size:15px;
    position:absolute;
    left: 50%;
    margin-left: -50px;
    bottom:0;
    background-color:rgba(0,0,0, 0.5);
}

#showMoreBtn:hover{
    background-color:rgba(0,0,0, 0.65);
}

#likeBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    font-size: 20px;
}#likeBtn:hover{
     transform: scale(1.1);
 }#likeBtn:active{
    transform: scale(0.8);
   }

datalist {
    position: absolute;
    background-color: lightgrey;
    font-family: sans-serif;
    font-size: 0.8rem;
}


