* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

body {
    min-height: 100%;
    background: url('../images/food_background.jpeg ')no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#logIn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border: solid;
    width:6em;
    padding: 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    align-items: center;
}
#logIn:hover{
    background: rgba(255,255,255,0.5);
}
#signUp{
    text-decoration: none;
    color: white;
    background: none;
}
#signUp:hover{
    background: #FF6965;
}

.layer {
    background-color: #4E596A90;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.spacer {
    padding-left: 10%;
}

#landContainer {
    height: 100%;
    width: 50%;
    max-width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#landName {
    width: 100%;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form input {
    background: none;
    border: solid 3px white;
    height: 8vh;
    min-height: 30px;
    max-height: 100px;
    width: 16vw;
    min-width: 160px;
    margin: 2vh;
    color: white;
    text-align: center;
    font-size: 18px;
}

#login-form input::placeholder {
    color: white;
    opacity: 0.8;
    text-align: center;
}

#login-form button {
    background: #F26966;
    border: none;
    border-radius: 20px;
    height: 8vh;
    min-height: 30px;
    max-height: 100px;
    width: 16vw;
    min-width: 160px;
    margin: 2vh;
    color: white;
    font-size: 28px;
}

#login-form button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#login-form button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#login-form button:hover span {
    padding-right: 25px;
}

#login-form button:hover span:after {
    opacity: 1;
    right: 0;
}

#hexas {
    height: 400px;
    width: 400px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.hexFood {
    height: 500px;
    padding-left: 20%;
}

.hexHome {
    height: 250px;
    margin-left: -125px;
    margin-top:300px;
}

.landName{
    color: white;
    font-size: 100px;
    margin-bottom: 100px;
}

.landBottomList {
    list-style-type: none;
    font-size: 40px;
    color: white;
}

.accent {
    color: #FF6965;
}

#feedContainer {
    height: 100%;
    width:85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    text-align: center;
    padding-bottom: 50px;
}

.feedContainer .post{
    box-sizing: border-box;
    width: 33.33%;
    max-width: 1000px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    background-color:rgba(255,255,255, 0.5);
}

#topCard {
    box-sizing: border-box;
    width:100%;
    height: 75%;
    border-radius: 10px 10px 0 0;
    background: white;

}

#bottomCard{
    overflow: auto;
    box-sizing: border-box;
    width:100%;
    height: 175px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px grey;
    background: white;
}
#bottomCard::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#bottomCard::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 20px;
}

/* Handle */
#bottomCard::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 20px;
}

/* Handle on hover */
#bottomCard::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#postCaption {
    font-size: 16px;
    margin-left: 30px;
}

#postCaptionTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 0 10px 0;
}

.feedContainer img{
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.feedContainer h2{
    width:100%;
    height:50px;
    display:flex;
    text-align: center;
    color: black;
}

.feedContainer #avatar{
    margin: 5px;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

#commentList #avatar{
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.buttonHolder button {
    background: #F7F7F7;
    color: black;
    width: 50%;
    min-height: 30px;
    border: none;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

#commentButton {
    background: #F26966;
    color: white;
}

#commentButton:hover  {
    font-size: 13px;
    font-weight: bold;
}

#recipeButton:hover  {
    font-size: 13px;
    font-weight: bold;
}

#commentForm button {
    background: #F7F7F7;
    color: black;
    border-radius: 10px;
    height: 30px;
    width: 15%;
    border: 1px black solid;
    box-sizing: border-box;
}

#commentForm button:hover {
    background: #F26966;
    border: none;
    color: white;
    cursor: pointer;
}

#commentForm input {
    background: #F7F7F7;
    color: black;
    min-height: 30px;
    width: 80%;
    border: 1px black solid;
    box-sizing: border-box;
    padding: 5px;
}

#postLikesAmount p {
    font-size: 12px;
    font-weight: bold;
    color: black;
    align-self: flex-end;
}

#commentList {
    width: 100%;
    padding: 8px;
}

#commentForm {
    width: 100%;
    padding: 8px 0 8px 0;
    box-sizing: border-box;
}

#commentRender {
    width: 100%;
    border: groove 1px black;
    margin-bottom: 3px;
    background: rgba(255,255,255, 0.5);
    display: flex;
}

#commenterInfo {
    width: 20%;
    display: flex;
    flex-direction: row;
}

#userAndComment {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#postComment {
    padding-left: 8px;
    font-size: 12px;
}

#commentAvatar {
    margin:  8px;
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
}

.feedContainer a{
    font-size:12px;
    font-weight: bold;
    align-self: flex-start;
    color: black;
}

#showMoreBtn{
    width:150px;
    height:40px;
    font-size:15px;
    position:absolute;
    left: 50%;
    margin-left: -75px;
    bottom:0;
    background-color:#f7f7f7;
    border-radius: 20px;
}

#showMoreBtn:hover{
    background-color:#F26966;
    color:white;
}
#postLikesAmount{
    width:100%;
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
#likeAmount{
    font-size: 10px;
    font-weight: bold;
    margin:5px 0 0 5px;
}

.notLiked {
    background: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    border: none;
    margin: 4px;
}

.notLiked:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.alreadyLiked {
    background: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    border: none;
    margin: 4px;
}

.alreadyLiked:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.likeText {
    margin-left: 8px;
}


  .buttonHolder{
      width:100%;
      height:auto;
      display:flex;
      justify-content: center;
  }

  #recipeDiv{
      margin: 0;
      width:100%;
      height: auto;
      align-items: center;
      display: flex;
  }

  #ingredientsDiv {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
  }

  #ingredientAmount {
      margin: 0 10px;
  }

  #recipeIngredientsTopic{
      padding: 20px;
      font-weight: bold;
      flex:1;
  }

  #recipeWorkPhaseTopic{
      padding: 20px;
      font-weight: bold;
  }
  #recipeWorkPhases{

  }
datalist {
    position: absolute;
    background-color: lightgrey;
    font-family: sans-serif;
    font-size: 0.8rem;
}
.deleteButton{
    border-radius: 15%;
    max-width: 30px;
    max-height: 30px;
    min-width: 30px;
    min-height: 30px; 
    text-align: right;
}

.deleteContainer{
    float: right;
    max-width: 35px;
    max-height: 35px;
    min-width: 35px;
    min-height: 35px;
    margin-top: 5px;
    justify-content: flex-end;
}

.commentDeleteButton{
    background: white;
}

#topCard a {
    width: 80%;
    text-align: left;
}

#topCard h2 {
    justify-content: space-between;
}

.deleteContainer {
    margin: 5px;
    background-size: contain;
    border: none;
    height: 20px;
    width: 20px;
    background: white;
}

.deleteContainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.commentDeleteContainer {
    margin: 15px;
    background-size: contain;
    border: none;
    height: 20px;
    width: 20px;
}

.commentDeleteContainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@media only screen and (max-width: 2300px) {

    #hexas {
        height: 350px;
        width: 350px;
    }

}

@media only screen and (max-width: 1600px) {

    #hexas {
        height: 300px;
        width: 300px;
    }

}

@media only screen and (max-width: 1100px) {

    #hexas {
        display: none;
    }

    #landContainer {
        width: 70%;
    }

    .feedContainer .post{
        width: 50%;
    }

    #login-form button {
        font-size: 24px;
    }

}

@media only screen and (max-width: 800px) {
    #feedContainer {
        width: 100%;
    }

    #landContainer {
        width: 90%;
    }

    .feedContainer .post{
        padding: 0!important;
        width:100%;
        margin: 10px 0 10px 0;
    }

    #login-form button {
        font-size: 20px;
    }

    #topCard {
        border-radius: 0;
    }

    #bottomCard {
        border-radius: 0;
    }

    .notLiked {
        height: 30px;
        width: 30px;
    }

    .alreadyLiked {
        height: 30px;
        width: 30px;
    }

    #postLikesAmount p {
        font-size: 16px;
        align-self: center;
    }

    #postCaption {
        font-size: 16px;
        align-self: center;
    }

    #commentForm {
        padding: 20px 0 20px 0;
    }

}

