
.topNav {
    width: 100%;
    height: 8%;
    min-height: 50px;
    list-style-type: none;
    display: flex;
    align-items: center;
    background-color:rgba(0,0,0, 0.5);
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

.topNav input[type=search] {
    padding: 15px;
    font-size: 17px;
    border: none;
    width: 275px;
    border-radius: 5%;
    background-color:rgba(255,255,255, 0.1);
    color: white;
}
#searchBar::placeholder{
    color: #F7F7F7;
    opacity: 0.8;
}

/*To remove 'clear' button*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
    -webkit-appearance: none;
    appearance: none;
}
/*remove 'list-arrow' from searchbar*/
input::-webkit-calendar-picker-indicator {
    display: none;
}

.topNav .search-container{
    margin:0;
    width:33.33%;
    align-self: center;
    display: flex;
    justify-content: center;
}
.topNav .search-container button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}.topNav .search-container button:hover {
     background: #ccc;
 }.topNav .search-container button img{
      width: 20px;
      height: 20px;
      object-fit: cover;
  }

li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}

.topLeft{
    align-self: flex-start;
    display: flex;
    width: 33.33%;
    align-items: center;
}

.topLeft li a{
    margin: 0 50px;
}

.logout{
    width:33.33%;
    display:flex;
    justify-content: flex-end;
    margin-right: 50px;
}